.write-new {
    margin: 30px 0;
    width: 1260px;
    display: flex;
    justify-content: space-between;
}

.write-new-left {
    width: 850px;
}

.write-new-info {
    display: flex;
    justify-content: space-between;
}

.write-new-info-side {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.write-new-input {
    background-color: white;
    padding: 0 15px;
    margin: 10px 0;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.write-new-input:focus {
    outline: none;
}

.write-new-select {
    position: relative;
    background-color: white;
    padding: 0 15px;
    margin: 10px 0;
    height: 50px;
    font-size: 18px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.write-new-select-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3e3232;
    opacity: 0.75;
    user-select: none;
}

#write-new-show-list-icon {
    font-size: 20px;
}

.write-new-select-list {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: white;
    z-index: 5;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.write-new-select-list div {
    user-select: none;
    padding: 15px;
    height: 50px;
    color: #3e3232;
    opacity: 0.75;
}

.write-new-select-list div:hover {
    background-color: #ccd1d9;
    color: white;
}

#write-new-title {
    width: 60%;
}

#write-new-category {
    width: 37%;
}

.write-new-content {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.write-new-content-container {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.write-new-textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 15px;
    border: none;
}

.write-new-textarea:focus {
    outline: none;
}

.write-new-right {
    width: 370px;
    font-size: 20px;
    font-weight: bold;
}

.write-new-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    margin: 10px 0;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.write-new-thumbnail-frame {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-color: #ccd1d9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #3e3232;
    opacity: 0.75;
}

input[type="file"] {
    display: none;
}

.write-new-thumbnail-upload {
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #29ADB2;
    border-radius: 10px ;
}

.write-new-thumbnail-upload:hover {
    background-color: #C5E898;
    color: white;
}

.write-new-idea {
    display: flex;
    justify-content: end;
}

#write-new-give-idea {
    width: 200px;
}

#write-new-give-idea:hover {
    background-color: hsl(155.09deg 77.38% 43.33%);
}

.write-new-control {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.write-new-control-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}


.write-new-control-item:hover {
    background-color: #1640D6;
    color: white;
}

.write-new-control-ico {
    margin-right: 10px;
}

#write-new-control-publish:hover {
    background-color: #f81539bf;
}

.write-new-preview {
    display: flex;
    justify-content: center;
}

.write-new-preview-frame {
    width: 940px;
}