.admin-container {
    width: 1260px;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}

.admin-header {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    background-color: #1a4649;
}

.admin-logo {
    width: 240px;
    font-family: 'Baskerville';
    font-style: italic;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
    color: white;
}


.admin-avt {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer
}

.admin-navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.admin-navbar {
    width: 25%;
    background-color: #2d4955;
    color: white;
}

.admin-category{
    font-size: 25px;
    border-top:1px solid white;
    border-bottom:1px solid white;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    cursor:pointer;
}

.admin-category:hover{
    background-color: green;
}

.admin-category-selected{
    background-color: darkgreen;
}

.admin-content {
    width: 75%;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding: 20px;
}

.upgrade-writer-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.upgrade-writer-table td,
.upgrade-writer-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.upgrade-writer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.upgrade-writer-table tr:hover {
    background-color: #ddd;
}

.upgrade-writer-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d4955;
    color: white;
}

.upgrade-writer-accept-button,
.upgrade-writer-deny-button {
    padding: 8px 16px;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.upgrade-writer-accept-button {
    background-color: #4caf50; /* Green */
    color: white;
}

.upgrade-writer-deny-button {
    background-color: #f44336; /* Red */
    color: white;
}

/* Hover effect styles */

.upgrade-writer-accept-button:hover {
    background-color: #007958; /* Darker green on hover */
}

.upgrade-writer-deny-button:hover {
    background-color: #8b0000; /* Darker red on hover */
}