.article-slider-wrapper {
    margin: 0 auto;
    position: relative;
}

.article-slider {
    display: flex;
    width: 1260px;
    height: 400px;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 30px;
}

.article-slider-item {
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.article-slider-btn {
    margin: 0 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 12%;
    background-color: white;
    font-size: 20px;
}

.article-slider-btn:hover {
    cursor: pointer;
    background-color: #ffcb00;
    color: white;
}

.slider-right {
    right: 0;
}