footer {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1260px;
    height: 450px;
    border-radius: 20px;
    background-color: #f8f8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foot-banner {
    padding: 0 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #ECEBEB;
    font-size: 12px;
    color: #3e3232;
    opacity: 0.75;
}

.foot-banner a {
    text-decoration: none;
    color: #3e3232;
    opacity: 0.75;
}

.foot-content {
    padding: 45px 100px 0;
}

.foot-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.foot-title .ico {
    margin: 0 5px;
    color: red;
}

.foot-row {
    display: flex;
    margin-bottom: 10px;
}

.foot-left-section {
    width: 650px;
}

.foot-right-section {
    width: 410px;
}

.foot-section-content {
    margin: 10px 25px;
}

#foot-mega-para {
    width: 400px;
    font-size: 14px;
    color: #3e3232;
    opacity: 0.75;
    text-align: justify;
}

.mail-box {
    height: 50px;
    width: 550px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.mail-input {
    padding-left: 20px;
    font-size: 15px;
    height: 50px;
    width: 520px;
    border: none;
    background-color: white;
    border-radius: 15px;
    outline: none;
}

#foot-categories {
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#foot-categories a {
    font-size: 12px;
    text-decoration: none;
    color: #3e3232;
    opacity: 0.75;
    line-height: 25px;
}