.home-section {
    margin: 30px 0;
}

.home-section-banner {
    margin: 0 10px;
    display: flex;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}

.home-section-content {
    margin: 20px 0;
}

.article-container {
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
}