.admin-container{
    width: 1260px;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}

.admin-header {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    background-color: #1a4649;
}

.admin-logo {
    width: 240px;
    font-family: 'Baskerville';
    font-style: italic;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
    color: white;
}


.admin-avt{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid white;
    border-radius: 50%;
    cursor:pointer
}

.admin-navbar-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:auto;
}

.admin-navbar{
    width:25%;
    background-color: #2d4955;
    color:white;
}

.admin-navbar a {
    color: inherit;
    text-decoration: none;
}

.admin-navbar a:hover {
    color: inherit;
}

.admin-category{
    font-size: 25px;
    border-top:1px solid white;
    border-bottom:1px solid white;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    cursor:pointer;
}

.admin-category:hover{
    background-color: green;
}

.admin-category-selected{
    background-color: darkgreen;
}

.admin-content{
    width:75%;
    background-color: white;
    color:black;
    padding-top:20px;
    padding: 20px;
}

.priority-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    
}

.priority-scroll-left{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height:700px;
    /* width:50%; */
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color: inherit;
    border:solid 1px black
}

.priority-scroll-right{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height:700px;
    /* width:50%; */
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color: inherit;
    border:solid 1px black
}

.priority-title{
    font-size: 25px;
}
