.priority-container{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.priority-container-side {
    width: 45%;
}

.priority-scroll-left{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height:700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color: inherit;
    border:solid 1px black
}

.priority-scroll-right{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height:700px;
    /* width:50%; */
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color: inherit;
    border:solid 1px black
}

.priority-title{
    font-size: 25px;
}
