@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body{

    width: 1260px;
    height: 1050px;
}

.wallpaper{
    width: 1260px;
    height: 225px;
    border-radius: 12px;
}

.taskbar{
    margin-top: 10px;
    width: 1260px;
    height: 85px;
    display: inline-flex;

}

.avatar{
    margin-left: 25px;
    width: 75px;
    height: 75px;
    border-radius: 12px;
    background-size: cover;
    cursor: pointer;
}

.username{
    width: fit-content;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 10px;
}

.taskbar-function{
    margin-left: 18%;
    display: inline-flex;
}

.item{
    font-size:larger;
    font-weight: bold;
    padding: 25px;
    cursor: pointer;
}

.edit-profile{
    justify-content: right;
    padding: 10px;
    margin-top: 13px;
    margin-left: 315px;
    font-size: larger;
    color: #f81539bf;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    background-color: #f8f8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.create-article{
    width: 1260px;
    height: 800px;
    margin-top: 50px;
    display: inline-flex;
}

.article-content{
    width: 870px;
    height: 600px;

}

.article-header{
    display: inline-flex;
}

.article-header-item{
    padding: 10px;
}

.article-header-item>h4{
    padding: 5px;
    font-size: larger;
}

.header-fill-in{
    width: 415px;
    height: 40px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:#f8f8f8;
}

.write-article{
    padding: 10px;
}

.write-article>h4{
    font-size: larger;
}

.write-background{
    width: 850px;
    height: 490px;
    border-radius: 12px;
    margin-top: 5px;
    background-color: #f8f8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.write-function{
    display: inline-flex;
}

.write-item{
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    height: 25px;
    text-align: center;
    border-radius: 12px;
    padding: 3px;
    background-color: #ececec;
    cursor: pointer;
}

.write-area{
    padding: 20px;
}

.write-content{
    width: 810px;
    height: 400px;
    padding: 10px;
    row-gap: 10;
    background-color: #ececec;
    border: none;
    border-radius: 12px;
}

.article-image{
    width: 390px;
    height: 315px;
}

.article-image>h4{
    padding: 5px;
    font-size: larger;
    font-family: 'Roboto';
    font-weight: bold;
}

.parent {
    width: 390px;
    height: 300px;
    margin: auto;
    padding: 2rem;
    background: #ececec;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.file-upload {
    height: 240px;
    text-align: center;
    border: 3px dashed #c9c9c9;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
}

.file-upload p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: #bbcada;
}

.file-upload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.check-and-post{
    width: 390px;
    height: 40px;
    padding: 10px;
    position: relative;
    display: inline-flex;
}

.check-item{
    margin-top: 20px;
    width: 100px;
    height: 35px;
    margin-left: 15px;
    text-align: center;
    border-radius: 12px;
    padding: 9px;
    background-color: #f8f8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    cursor: pointer;
}

.post-item{
    margin-top: 20px;
    width: 100px;
    height: 35px;
    margin-left: 15px;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    padding: 9px;
    color:white;
    background-color: #f81539bf;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    cursor: pointer;
}