.breadcrumbs {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
}

/*** breadcrumb items ***/
.crumb {
    transition: all 0.2s ease-in-out;
    height: 40px;
    background: white;
    box-shadow: 0px 0px 18px -2px #d9d9d9;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    position: relative;
    cursor: pointer;
    float: left;
}

.crumb a {
    text-decoration: none;
    color: inherit;
}

.crumb:after {
    transition: all ease-in-out 0.2s;
    content: "";
    position: absolute;
    left: calc(100% - 10px);
    top: 6px;
    z-index: 1;
    width: 0;
    height: 0;
    border: 14px solid #ffffff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 0px 0px 0 0px gray, 5px -5px 10px -4px gray;
    transform: rotate(45deg);
    margin-left: -4px;
}

.crumb:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}

.crumb:first-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EEF5FF;
}

.crumb:first-child:after {
    content: "";
    display: none;
}

.crumb:hover {
    background-color: #ccd1d9;
    color: white;
}

.crumb:hover:after {
    border: 14px solid #ccd1d9;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.crumb:first-child:hover {
    background-color: #9EB8D9;
    color: white;
}