.category-banner {
    margin: 30px 0;
    height: 120px;
    width: 1260px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.category-banner-icon {
    margin: 0 15px;
}

.single-category-article-container {
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
}