.home-section {
    margin: 30px 0;
}

.home-section-banner {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.home-section-content {
    margin: 20px 0;
}

.article-container {
    width: 1260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}