@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Italianno');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}