* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}